body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(table.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.main{
    width: 400px;
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#buttons{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

#hero{
    color: goldenrod;
}

#result{
    font-style: italic;
    font-weight: bold;
}


#start-button{
    font-weight: bold;
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: goldenrod;
    border: none;
    border-radius: 3px;
}

#newcard-button{
    font-weight: bold;
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: goldenrod;
    border: none;
    border-radius: 3px;
}
